
@media (max-width:425px){
    form{
        input{
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            width:200px;
            height: 50px;
            margin: 10px;
            outline: none;
            border: none;
        }
    }
}